# --- VCS 仿真产生的大文件和编译目录 ---
simv
simv.daidir/
csrc/
*.o

# --- 波形数据 (体积太大，不传，除非特别小) ---
*.fsdb
*.vpd
*.vcd

# --- Verdi 产生的日志和临时配置 ---
verdiLog/
ucli.key
*.log
novas.rc
novas.conf

# --- 覆盖率报告 ---
urgReport/
*.vdb
